
.terms {
}
.terms__container {

}
.terms__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    padding-top: 120px;
    padding-bottom: 40px;
}
.terms__body {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.terms__column {
    padding: 0 15px 61px 15px;
    flex: 0 1 50%;
}
.terms__item {
    display: flex;
    flex-direction: column;
}
.terms__logo {
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 16px;
    color: #1CA8C3;
}
.terms__logo-2 {
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 16px;
    color: #FF5656;
}
.terms__menu {
}
.terms__link {
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 10px;
    color: #222222;
    position: relative;
    margin-left: 50px;

    &::before {
        content: '';
        display: block;
        height: 20px;
        width: 21px;
        left: -30px;
        top: 2px;
        background: url('./../../img/check_blue\ 8.png') center (center/cover) no-repeat;
        position: absolute;
}
}
.terms__link-2 {
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 10px;
    color: #222222;
    position: relative;
    margin-left: 50px;

    &::before {
        content: '';
        display: block;
        height: 20px;
        width: 21px;
        left: -30px;
        top: 2px;
        background: url('./../../img/check_red\ 1.png') center (center/cover) no-repeat;
        position: absolute;
}
}
.terms__info {
    padding-top: 25px;
    font-weight: 300;
    font-size: 17px;
    color: #1CA8C3;
}