
.txt {
    background: url('./../../img/Подложка.png') center (center/cover) no-repeat;
    height: 400px;
    margin-top: -100px;
}
.txt__container {
}
.txt__body {
}
.txt__text {
    padding-top: 210px;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #222222;
}