body {
    font-family: 'Roboto', sans-serif;
}

[class*="__container"] {
	max-width: 1094px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
    font-size: 20px;
}